<!-- The video -->
<div>
    <video autoplay id="myVideo">
        <source src="/images/suprez-vid.mp4" type="video/mp4">
    </video>
    <script>
        document.getElementById('suprez-vid').play();
        console.log(document.getElementById('suprez-vid').play());
    </script>

</div>

<div class="title vertical-center">

    <div class="container text-center">
        <h1>Suprez</h1>

        <a href="/prez/new">
            <button id="gotopresent" type="button" class="btn btn-primary btn-lg btn-outline-dark">
                Create your Experience
            </button>
        </a>
    </div>
      
</div>