<!-- The video -->
<div>
    <video autoplay id="myVideo">
        <source src="/images/suprez-vid.mp4" type="video/mp4">
    </video>

</div>

<div class="title vertical-center">

    <div class="container text-center" color="white">
        <h1>Suprez</h1>

        <a href="/prez/new">
            <button id="gotopresent" type="button" class="btn btn-primary btn-lg btn-outline-dark">
                Create your Experience
            </button>
        </a>
    </div>
      
</div>

<script>
    /*let vid = document.getElementById('myVid');

    window.onload=function(){
        vid.play();
    };*/

    setTimeout(function(){
        let vid = document.getElementById('myVid');
        document.getElementById('myVid').play();
        conosle.log("countdown")
    },3000);
</script>